<div class="row">
    <div class="col-lg-4  d-flex justify-content-center ">
        <div>
            
    <img src="https://play-lh.googleusercontent.com/e67fyhPdbhARNhMniiSLmkIhqj_kF-cH8KWC-dr8u5a_O_RNdylUcAyMeZWMJ_MAvA=w240-h480-rw" alt="">
        </div>
    </div>

    <div class="col-lg-6" >
        <div class="p-4" >
            <input  class="form-control form-control-lg text-center  "  [(ngModel)]="ciudad"  type="text"  placeholder="Escribe el nombre de la ciudad" >
        </div>
              <button class="btn btn-primary  btn-lg w-100  "  (click)="obtenerClima()"   [disabled]="ciudad  == '' ">Ver Clima</button>
              <div class="text-center" *ngIf="loading === true"  >
                <div class="spinner-grow  text-primary"  role="status"  ></div>
                <div class="spinner-grow  text-primary"  role="status"  ></div>
                <div class="spinner-grow  text-primary"  role="status"  ></div>
                <div class="spinner-grow  text-primary"  role="status"  ></div>
                <div class="spinner-grow  text-primary"  role="status"  ></div>


              </div>

              <div class=" card   "  *ngIf="contenido == true" >
               <div class="card-body">
                <p><b>Temperatura:{{temperatura}}</b></p>
                <p><b>Humedad:{{humedad}}</b></p>
                <p><b>Clima:{{clima}}</b></p>

               </div>
              </div>


    </div>
    

</div>